*{
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}
/*素馨导航开始*/
.head{
    width: 100%;
    height: 79px;
    background: rgba(0,0,0,0.2);
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.head-content{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    width: 150px;
    height: 100%;
    float: left;
}
.logo img{
    width: 150px;
    height: 50px;
    margin-top: 14.5px;
}
.menu{
    width: 602px;
    height: 100%;
    float: right;
    text-align: center;
    padding-left: 0;
}
.menu-list{
    width: 86px;
    height: 100%;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}
.menu p {
    display: block;
    width: 86px;
    font-size: 14px;
    text-align:center;
    line-height: 79px;
}
.p-color{
    color: #16b0dc;
    position: relative;
}
.menu p:hover{
    color: #16b0dc;
    cursor: pointer;
}
/*素馨导航结束*/
/*素馨顶部图片开始*/
.head-img{
    width: 1519.2px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.head-img img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.head-img-left{
    width: 14.6%;
    height: 854.55px;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    line-height:854px;
    color: rgba(255,255,255,0);
    text-align: center;
    font-size: 40px;
 }
.head-img-left:hover {
    background: rgba(0,0,0,0.08);
    color: rgba(255,255,255,0.5);
}
.head-img-right{
    width: 14.6%;
    height: 854.55px;
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    line-height: 854px;
    color: rgba(255,255,255,0);
    font-size: 40px;
    text-align: center;
}
.head-img-right:hover {
    background: rgba(0,0,0,0.08);
    color: rgba(255,255,255,0.5);
}
/*素馨顶部图片结束*/
/*介绍部分开始*/
.introduce{
    width: 100%;
    height: 744.8px;
    padding: 70px 0;
    box-sizing: border-box;
}
.introduce-box{
    width: 1170px;
    height: 604.8px;
    padding: 0 15px;
    margin: 0 auto;
}
.introduce-box h3{
    font-size: 32px;
    font-weight: 300;
    width: 1140px;
    height: 43.2px;
    text-align: center;
    margin-bottom: 11px;
    position: relative;
}
.sanj{
    display: inline-block;
    border: 8px solid ;
    border-color:  rgba(0,0,0,0) #16b0dc rgba(0,0,0,0)  rgba(0,0,0,0) ;
    position: absolute;
    top: 15px;
    right: 485px;
}
.gray{
    display: inline-block;
    border: 8px solid ;
    position: absolute;
    top: 15px;
    right: 485px;
    border-color: rgba(0,0,0,0) #16b0dc rgba(0,0,0,0) rgba(0,0,0,0);
}
.more{
    width: 55px;
    height: 35px;
    background: #16b0dc;
    position: absolute;
    top: 5px;
    right: 430px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    color: white;
}
.introduce-box h4{
    color: #b0b0b0;
    font-size: 16px;
    font-weight: 400;
    width: 1140px;
    height: 24px;
    text-align: center;
}
.lunbo{
    width: 1140px;
    height: 476.6px;
    margin: 50px auto 0;
    padding: 0 60px;
    box-sizing: border-box;
    position: relative;
}
.lunbo i{
    font-size: 30px;
    color: #a3afb7;
}
.lunbo i:hover{
    color: #76838f;
    cursor: pointer;
}
.pon1{
    position: absolute;
    top: 223.3px;
    left: 5px;
}
.pon2{
    position: absolute;
    top: 223.3px;
    right: 5px;
}
.lunbo-li{
    width: 320px;
    height: 100%;
    margin-right: 30px;
    float: left;
}
.nomr{
    margin-right: 0;
}
.lunbo-img{
    width: 100%;
    height: 320px;
    border-radius: 50%;
}
.lunbo-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.lunbo-li h3{
    width: 320px;
    height: 21.6px;
    font-size: 18px;
    margin: 11px auto;
}
.lunbo-li p{
    width: 320px;
    height: 43.2px;
    font-size: 14px;
    color: #757575;
    margin: 0 auto 11px;
}
.btn{
    width: 320px;
    height: 37.2px;
    border: 1px solid #f96868;
    background: #f96868;
    box-sizing: border-box;
    border-radius: 5%;
    text-align: center;
    line-height: 37.2px;
    float: left;
}
.btn i{
    font-size: 20px;
}
.xiangq{
    display: block;
    width: 320px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.xiangq i{
    color: #aaaaaa;
}
/*介绍部分结束*/
/*故事开始*/
.story{
    width: 100%;
    height: 707.2px;
    padding: 70px 0;
    box-sizing: border-box;
    background: #f5f5f5;
    position: relative;
    margin: 0 auto;
}
.story-xq{
    width: 1170px;
    height: 567.2px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.story-xq h3{
    font-size: 32px;
    font-weight: 300;
    width: 1140px;
    height: 43.2px;
    text-align: center;
    margin-bottom: 11px;
    position: relative;
}
.story-list{
    width: 1170px;
    height: 504px;
    margin: 20px -15px 0;
    padding-top: 30px;
    box-sizing: border-box;
}
.list-li{
    width: 585px;
    height: 96px;
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
}
.list-li-img{
    width: 160px;
    height: 96px;
    padding-right: 20px;
    float: left;
}
.list-li-img img{
    width: 100%;
    height: 100%;
}
.list-li-cont{
    width: 374.4px;
    height: 95.6px;
    float: right;
}
.list-li-cont h4{
    width: 300px;
    height: 20px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.list-li-cont h4:hover{
    color: #62a8ea;
    cursor: pointer;
    text-decoration: underline;
}
.list-li-cont p{
    font-size: 14px;
    width: 374.4px;
    height: 41.6px;
    margin-bottom: 5px;
    color: #76838f;
    font-weight: 300;

}
.author{
    width: 374.4px;
    height: 20.8px;
    float: left;
}
.author span{
    width: 64.16px;
    height: 18.4px;
    font-size: 14px;
    color: #76838f;
    margin-right: 10px;
}
.name{
    font-size: 14px;
    color: #76838f;
    margin-right: 10px;
}
.name i{
    margin-right: 5px;
}
/*故事结束*/
/*介绍开始*/
.XXintroduce{
    width: 1519.2px;
    height: 905.2px;
    padding: 70px 0;
    box-sizing: border-box;
    margin: 0 auto;
}
.int-int{
    width: 1170px;
    height: 765.2px;
    margin: 0 174.6px;
    padding: 0 15px;
}
.int-int h3{
    font-size: 32px;
    font-weight: 300;
    width: 1140px;
    height: 43.2px;
    text-align: center;
    margin-bottom: 50px;
}
.int-int-cont{
    width: 1140px;
    height: 672px;
    padding: 30px;
    background: white;
    box-sizing: border-box;
}
.int-int-cont p{
    width: 1080px;
    height: 32px;
    font-family: 微软雅黑;
    color: #222;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 300;
}
.int-int-cont h4{
    width: 1080px;
    height: 32px;
    font-family: 微软雅黑;
    color: #222;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}
.int-img{
    width: 1080px;
    height: 340px;
    text-align: center;
}
/*介绍结束*/
/*间隔部分开始*/
.jiange{
    width: 1519.2px;
    height: 10px;
    border-top: 1px solid #f0f2f5;
    margin: 0 auto;
}
/*间隔部分结束*/
/*最下部分开始*/
.footer{
    width: 100%;
    height: 161.9px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #f5f5f5;
    margin: 0 auto;
}
.footer-header{
    width: 100%;
    height: 56.4px;
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
    line-height: 56px;
}
.footer-header i{
    font-size: 26px;
    margin-right: 10px;
}
.weixin{
    cursor: pointer;
}
.weixin{
    color: #83b944;
}
.qq{
    color: #62a8ea;
}
.qq:hover{
    cursor: pointer;
    color: #89bceb;
}
.youxiang{
    color: #62a8ea;
}
.youxiang:hover{
    cursor: pointer;
    color: #89bceb;
}
.aline{
    width: 1140px;
    height: 24.9px;
    margin: 0 auto;
    text-align: center;
    line-height: 25.2px;
}
.aline a{
    font-size: 14px;
    color: #62a8ea;
    text-decoration: none;
}
.aline a:hover{
    text-decoration: underline;
}
.aline2{
    width: 1140px;
    height: 24.8px;
    margin: 0 auto;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 25.2px;
}
/*最下部分开始*/
